In [3]:
input().split()

1 2 3 4 5

['1', '2', '3', '4', '5']

In [2]:
arr = []
for i in range(10):
    arr.append(i**2)
print(arr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
a = input()
u = 0
l = 0
for c in a:
    u += c.isupper()
    l += c.islower()

jatin

In [14]:
a = 'jatin'
count = 0
for i in a:
    count += 1
print(count)

5

In [15]:
s = "456789fghjk"
a = 0
n = 0
for i in s:
    if i.isalpha():
        a += 1
    elif i.isdigit():
        n += 1

In [16]:
a

5

In [17]:
n

6

In [28]:
import re

In [36]:
pattern = r'^(x+y)+$'
re.match(pattern, "xxxxxxxxxxxxxxxxxx"*2000000 + "y")

In [23]:
a = 'J@t!n1997'
def validate_pass(s):
    l = 0
    u = 0
    d = 0
    c = 0
    for i in s:
        if i.isupper(): u += 1
        elif i.islower(): l += 1
        elif i.isdigit(): d += 1
        elif i in ['$', '#', '@']: c += 1
    return all([l, u, d, c])

In [24]:
validate_pass(a)

True

In [38]:
a = [0, 1, 2, 3, 4]
b = list(filter(lambda x: x**2, a))
print(b)

[1, 2, 3, 4]

In [ ]:
for i in a:
    if i**2:
        print(i)

In [79]:
class A:
    def __init__(self):
        print("Created")
    def __del__(self):
        print("Deleted")
    def __repr__ (self):
        return "something"
    
d

In [80]:
a = A()

Created

In [81]:
a

something

In [52]:
b = a

In [53]:
b

In [54]:
del a

In [55]:
del b

In [43]:
A() is A()

Created
Created
Deleted
Deleted

False

In [44]:
id(A()) == id(A())

Created
Deleted
Created
Deleted

True

In [85]:
isPal = lambda x: x == x[-1::-1]

In [89]:
"jatin"[-1:-1:-1]

''

In [96]:
a = "aaaaaaa"

In [108]:
mut_str = lambda s, i, c: s[:i] + c + s[i+1:]

In [109]:
mut_str("jatin", 1, "p")

'jptin'

In [86]:
isPal("noon")

True

In [63]:
for x in map(lambda x: x*2, 'jatin'):
    print(x)

jj
aa
tt
ii
nn

In [122]:
d = {
    "name": "ghjkljhgvJatin Katyal",
    "friends": [
        { 
            "name": "Chirag Malhotra",
            "age": 95,
            "branch": "computer science",
            "languages": ["c++", "python"]
        },
        { 
            "name": "Chirag Malhotra",
            "age": 95
        }
    ]
}

In [123]:
print(d)

{'name': 'ghjkljhgvJatin Katyal', 'friends': [{'name': 'Chirag Malhotra', 'age': 95, 'branch': 'computer science', 'languages': ['c++', 'python']}, {'name': 'Chirag Malhotra', 'age': 95}]}

In [124]:
from pprint import pprint

In [125]:
pprint(d)

{'friends': [{'age': 95,
              'branch': 'computer science',
              'languages': ['c++', 'python'],
              'name': 'Chirag Malhotra'},
             {'age': 95, 'name': 'Chirag Malhotra'}],
 'name': 'ghjkljhgvJatin Katyal'}