In [10]:
n = input()
print(type(n))

5
<class 'str'>

In [9]:
total = 0
s = 0
while True:
    n = input()
    if not n.isdigit():
        break
    s += int(n)
    total += 1
print("total", total)
print("sum", s)
print("average", s/total)

6
STOP
total 1
sum 6
average 6.0

In [13]:
n = 65
num = 5
for i in range(num):
    for j in range(i+1):
        k = chr(n)
        print(k, end = " ")
        n += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [18]:
n = 4
for i in range(n):
    print(" " * (n-1-i), end = "")
    print("* " * (i + 1))

   *
  * *
 * * *
* * * *

In [19]:
n = '9'
num = 4
s = 0
for i in range(num):
    s += int(n * (i+1))

In [20]:
s

11106

In [21]:
n = 9
m = 0
h = 0
print("sum is: ")
for k in range(4):
    i = 10
    a = n
    j =

SyntaxError: unexpected EOF while parsing (<ipython-input-21-659f92372f2d>, line 5)

In [24]:
a = [1, 2, 3, 4]
b = a
b[0] = 100
print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [25]:
a = 23456789
b = a
print(id(a))
print(id(b))

4557935376
4557935376

In [53]:
row = ['_'] * 3

In [51]:
board

[[' ', ' ', ' '], [' ', 'X', ' '], [' ', ' ', ' ']]

In [54]:
board = []
for _ in range(3):
    board.append(row.copy())

In [59]:
for row in board:
    print(" ".join(row))

_ _ _
_ X O
_ _ _

In [58]:
board[1][2] = 'O'

In [40]:
board

[[' ', ' ', ' '], [' ', 'X', ' '], [' ', ' ', ' ']]

In [41]:
id(board[1])

4558542152

In [42]:
id(board[0])

4558543624

In [43]:
id(board[2])

4558378056